<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="classPathAppContextService" class="com.fchen.service.ClassPathAppContextService">
		<!-- collaborators and configuration for this bean go here -->
	</bean>

	<bean id="xmlServiceTest" class="com.fchen.service.XmlBeanFactoryService">
		<!-- collaborators and configuration for this bean go here -->
	</bean>
</beans>